html {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
}
body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    overflow: scroll;
    outline: none;
}

@media only screen and (max-width: 1600px) {
    /* For mobile phones: */
    body {
        padding: 0%;
        margin: 0%;
        height: 100%;
        width: 100%;
        min-width: 100%;
        min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
        overflow: scroll;
        outline: none;
    }
  }
a {
    color: rgb(0, 255, 242);
    outline: none;
}
#page1, #page3, #page5 {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(-45deg,#f071e1, #cc1db8, #81138b, #45084b,  #000000, #45084b, #81138b,  #cc1db8, #f071e1);
}

#page2, #page4, #page6 {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg,#f071e1, #cc1db8, #81138b, #45084b,  #000000, #45084b, #81138b,  #cc1db8, #f071e1);
}

.frontTag {
    display: block;
    color: white;
    animation-name: whiten;
    animation-duration: 1s;
    animation-fill-mode: both;
    outline: none;
}

.frontTag:hover, .frontTag:active {
    animation-name: blacken;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes whiten {
    0% {
        color: black;
        color: rgb(36, 197, 189);
    }
    100% {
        color: white;
    }
}

@keyframes blacken {
    0% {
        color: white;
    }
    100% {
        color: black;
        color: rgb(36, 197, 189);
    }
}

#name {
    font-size: 250%; 
}

#main {
    margin-left: 10%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    text-align: start;
    padding: 0;
}

#education {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: auto;
    text-align: end;
    padding: 0;
}

#welcome {
    width: 30%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: auto;
    text-align: start;
    padding: 0;
    display: inline-block;
}

#aboutme {
    display: inline-block;
    width: 30%;

    margin-top: 4%;
    margin-left: 4%;
    margin-right: 0%;
    margin-bottom: 0%;

    text-align: start;

    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}
#connect{
    margin-top: 8%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

    text-align: center;

    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#featured-projects{
    text-align: center;
    margin-top: 4%
}

#resume {
    margin-top:20%;
    margin-bottom: 2%;
    text-align: center;
}
#contactInfo {
    text-align: center;
}
#Organizations {
    text-align: center;
}
#Honors {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 10%;
    margin-top: 8%;
}
#Leadership {
    margin-top: 4%;
    margin-left: 10%;
}

.project{
    display: inline-block;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

    text-align: center;
    width: 18%;

    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

li {
    padding: 4%;
    font-size: 80%;
}

.box {
    text-align: center;
}

#project1{
    display: inline-block;
}

div {
    outline: none;
}

.divElement {
    margin: 0;
    padding: 0;
}
.hide {
    animation: invisible;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes invisible {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#page1arrow {
    margin-top: 15%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 7%;
}
#page2arrow {
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 4%;
}

#page5arrow {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 4%;
}

#page2arrow2 {
    display: inline-block;

    margin-top: 4%;
    margin-left: 56%;
    margin-right: 0%;
    margin-bottom: 0%;

    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
}

#page3arrow1 {
    margin-top: 45%;
}
#page3arrow1 span:nth-child(1) {
    animation-delay: 0s;
}
#page3arrow1 span:nth-child(2) {
    animation-delay: -0.2s;
}
#page3arrow1 span:nth-child(3) {
    animation-delay: -0.4s;
}

#page3arrow2 {
    margin-top: 35%;
}
#page3arrow2 span:nth-child(1) {
    animation-delay: -0.5s;
}
#page3arrow2 span:nth-child(2) {
    animation-delay: -0.7s;
}
#page3arrow2 span:nth-child(3) {
    animation-delay: -0.9s;
}

#page3arrow3 {
    margin-top: 25%;
}
#page3arrow3 span:nth-child(1) {
    animation-delay: -1.0s;
}
#page3arrow3 span:nth-child(2) {
    animation-delay: -1.2s;
}
#page3arrow3 span:nth-child(3) {
    animation-delay: -1.4s;
}

#page3arrow4 {
    margin-top: 35%;
}
#page3arrow4 span:nth-child(1) {
    animation-delay: -0.5s;
}
#page3arrow4 span:nth-child(2) {
    animation-delay: -0.7s;
}
#page3arrow4 span:nth-child(3) {
    animation-delay: -0.9s;
}

#page3arrow5 {
    margin-top: 45%;
}
#page3arrow5 span:nth-child(1) {
    animation-delay: 0s;
}
#page3arrow5 span:nth-child(2) {
    animation-delay: -0.2s;
}
#page3arrow5 span:nth-child(3) {
    animation-delay: -0.4s;
}


#space {
    display: block;
    margin:0%;
    padding: 0%;
}
.arrow{
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(36, 197, 189);;
    border-right: 5px solid rgb(36, 197, 189);;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        
        opacity: 0;
        transform: rotate(45deg) translate(-2vh,-2vh);
    }
    50%{
        
        opacity: 1;
    }
    100%{
        
        opacity: 0;
        transform: rotate(45deg) translate(2vh,2vh);
    }
}

.arrow2{
    transform: translate(-50%,-50%);
}
.arrow2 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(36, 197, 189);
    border-right: 5px solid rgb(36, 197, 189);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate2 3s infinite;
}
.arrow2 span:nth-child(2){
    animation-delay: -0.3s;
}
.arrow2 span:nth-child(3){
    animation-delay: -0.6s;
}
.arrow2 span:nth-child(4){
    animation-delay: -0.9s;
}
.arrow2 span:nth-child(5){
    animation-delay: -1.2s;
}


@keyframes animate2 {
    0%{
        
        opacity: 0;
        transform: rotate(-45deg) translate(0vh, 0vh);
    }
    10% {
        opacity: 0.5;
    }
    70%{
        
        opacity: 1;
    }
    
    100%{
        
        opacity: 0;
        transform: rotate(45deg) translate(44vh,-22vh);
    }
}


.arrow2-2{
    transform: translate(-50%,-50%);
}
.arrow2-2 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(36, 197, 189);;
    border-right: 5px solid rgb(36, 197, 189);;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate2-2 3s infinite;
}
.arrow2-2 span:nth-child(2){
    animation-delay: -0.3s;
}
.arrow2-2 span:nth-child(3){
    animation-delay: -0.6s;
}
.arrow2-2 span:nth-child(4){
    animation-delay: -0.9s;
}
.arrow2-2 span:nth-child(5){
    animation-delay: -1.2s;
}
@keyframes animate2-2 {
    0%{
        
        opacity: 0;
        transform: rotate(135deg) translate(-8vh,0vh);
    }
    10% {
        opacity: 0.5;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        
        opacity: 0;
        transform: rotate(45deg) translate(-24vh,36vh);
    }
}

.arrow3{
    margin-top: 25%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: auto;
    transform: translate(-50%,-50%);
}
.arrow3 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(36, 197, 189);;
    border-right: 5px solid rgb(36, 197, 189);;
    transform: rotate(45deg);
    margin-top:10%;
    margin: -10px;
    animation: animate3 2s infinite;
}
.arrow3 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow3 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate3 {
    0%{
        
        opacity: 0;
        transform: rotate(45deg) translate(-2vh,-2vh);
    }
    50%{
        
        opacity: 1;
    }
    100%{
        
        opacity: 0;
        transform: rotate(45deg) translate(2vh,2vh);
    }
}



.arrow5{
    vertical-align: bottom;
    transform: translate(-50%,-50%);
}
.arrow5 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(36, 197, 189);
    border-right: 5px solid rgb(36, 197, 189);
    transform: rotate(45deg);
    margin-top: -10px;
    animation: animate5 3s infinite;
}
.arrow5 span:nth-child(2){
    animation-delay: -0.3s;
}
.arrow5 span:nth-child(3){
    animation-delay: -0.6s;
}
.arrow5 span:nth-child(4){
    animation-delay: -0.9s;
}
.arrow5 span:nth-child(5){
    animation-delay: -1.2s;
}
.arrow5 span:nth-child(6){
    animation-delay: -1.5s;
}
.arrow5 span:nth-child(7){
    animation-delay: -1.8s;
}
.arrow5 span:nth-child(8){
    animation-delay: -2.1s;
}
.arrow5 span:nth-child(9){
    animation-delay: -2.4s;
}
.arrow5 span:nth-child(10){
    animation-delay: -2.7s;
}


@keyframes animate5 {
    0%{
        
        opacity: 0;
        transform: rotate(-45deg) translate(0vh, 0vh);
    }

    10% {
        opacity: 0.5;
    }

    50% {
        transform: rotate(45) translate(-25vh, -75vh)
    }

    70%{
        
        opacity: 1;
    }
    
    100%{
        
        opacity: 0;
        transform: rotate(135deg) translate(-0vh,-75vh);
    }
}

/* transform: rotate(135deg) translate(-25vh,-75vh); */