body {
    background: linear-gradient(45deg,#e065d2, #4ee4e1, #8ee04b);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    box-sizing: content-box;
}

.frontTag {
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    color: white;
    animation-name: whiten;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.frontTag:hover {
    animation-name: blacken;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.innerDiv {
    font-family: sans-serif;
    font-size: 130%;
    color: white;
    display: inline-block;
}

@keyframes whiten {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

@keyframes blacken {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

#main {
    margin-left: 10%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    text-align: start;
}

#education {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: auto;
    text-align: end;
}

.topElement {
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.bottomElement {
    padding-top: 0%;
    margin-top: 0%;
}