body {
    background: linear-gradient(45deg,#e065d2, #4ee4e1, #8ee04b);
    background: linear-gradient(-45deg, #e065d2, #000000, #e065d2);
    width: 100vw;
    height: 100%;
    overflow: auto;
    box-sizing: content-box;
    background-repeat: no-repeat;
}

.frontTag {
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    color: white;
    animation-name: whiten;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.frontTag:hover {
    animation-name: blacken;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes whiten {
    0% {
        color: black;
        color: rgb(255, 123, 0);
    }
    100% {
        color: white;
    }
}

@keyframes blacken {
    0% {
        color: white;
    }
    100% {
        color: black;
        color: rgb(255, 123, 0);
    }
}

#main {
    margin-left: 10%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    text-align: start;
}

#education {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: auto;
    text-align: end;
}

.topElement {
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.bottomElement {
    padding-top: 0%;
    margin-top: 0%;
}

.hide {
    animation: invisible;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes invisible {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.arrow{
    margin-top: 15%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 7%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        
        opacity: 1;
    }
    100%{
        
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}